.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blanchedalmond;
    margin: 50px;
    white-space: "pre-line" ;
}
#heading{
    font-size: larger;
}
.members{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.member{
    display: inline-flex;
    gap: 1rem;
}
.button{
    margin: 1rem;
}
#member{
    gap: 1rem;
}
input::file-selector-button{
    color: white;
    background-color: transparent;
    border-radius: 1rem;

}